[2014-03-06 17:16] quasipickle opened #27 "[NFR] Add a "watch" functionality"
Sometimes I'd like to follow a discussion in the forum, but I don't (yet) have anything to add.  I'd still like to be informed when the discussion is added to.

[2014-03-11 21:51] quasipickle opened #29 "Restrict search to forum.phalconphp.com"
The search box appears to search *.phalconphp.com.  When searching on the forum, it should be restricted to forum.phalconphp.com.

[2014-05-01 18:34] oh-ren opened #40 "HTML entities are displayed in inline code block"
See eg. http://forum.phalconphp.com/discussion/2201/running-partials-from-dynamic-content#C7563

In the source I see <code>&amp;#039;</code> instead of <code>&#039;</code>

[2014-05-18 09:15] ghost opened #48 "Settings are reset after adding a comment"
After adding a comment some settings are reset:

-timezone
-reputation
-votes available
-voting points

[2014-06-13 18:33] waaghals opened #49 "[NFR] Prevent double post"
My comments are often post twice. When I submit, it sometimes sends multiple request and both create a post. It would be nice to check if a duplicate comment is made and just ignore that. Or disable the button immediately after a click to prevent a extra click.

[2014-06-16 16:07] oh-ren opened #50 "Discussion not moved up in 'hot list' when OP makes a post"
I'm not sure if this is a bug or a feature, but when the opening poster makes a post in his/her topic, the topic doesn't go up to the top of the 'hot list'.

This way, some things / updates are very likely to remain unnoticed by the people.
Only peeps who (actually) check their e-mail notifications will be notified.

[2014-06-16 16:19] oh-ren opened #51 "Allow some HTML tags"
As I already mentioned in the forum (http://forum.phalconphp.com/discussion/1675/welcome-to-phosphorum-2#C8338); the allowance of some HTML would be very welcomed.
(Just as here @ Github)
Noteworthy (IMO):
- `<br>`
- ` del`
- `ins`

(btw; <br> won't be really needed if enters / newlines are parsed as <br> instead of keeping the default Markdown behavior)

[2014-06-22 06:01] Woolworths opened #55 "IRC highlight on tab not working"
When clicking on recent then IRC the highlight on the tab should be there but it's not. Also on IRC, when hovering over back to the recent tab, you don't get the usual link cursor (you know how when you hover on a link the mouse cursor changes?). Pics included in attachments.
![phosphorumbug](https://cloud.githubusercontent.com/assets/6524227/3350761/a23ed6aa-f9d2-11e3-92b8-ec967369005c.PNG)
^^^ N

[2014-07-09 17:51] quasipickle opened #58 "Changelog"
It would be cool if there was a changelog so we could see what gets updated every release.

[2014-07-19 07:28] oh-ren opened #60 "Regarding PR's"
I see now the plea for PR's over at the forum when one wants something added/changed/improved.

For myself; I'm not someone that blindly goes working on something and then submits a PR in the good hope it might get merged.
So my pref is to first suggest something via an issue, and go ahead after a 'go' from the team.

Sure, for obvious bugs/improvement one might just as well send in a PR immediate

[2014-11-29 01:43] kenjis opened #78 "Can't create Test Data"
[code]

[2014-12-08 07:58] kenjis opened #83 "Undocumented Elasticsearch"
Apparently this forum uses Elasticsearch to search. But not documented in README Requirements.

<del>
And I installed Elasticsearch 1.4.1 in my server, and my composer `elasticsearch/elasticsearch` version is `v1.3.1`.
But it seems the search code does not work, because a key of returned array differs a bit.

My question is what version of Elasticsearch do you support?
</del>

Elasticsearch 1.4.1

[2015-01-12 22:50] kenjis opened #85 "Markdown bug: "_" in URL is converted to "<em>""
[code]

will be converted below:

[code]

[2015-01-14 14:58] m1ome opened #86 "Karma strange work"
I have a account on a forum: http://forum.phalconphp.com/user/2975/m1ome
And you have a reputation system.

It's seems it working wrong. (It seems sometimes karma rollback, and i don't have a additions from bounty and accepted answer)
Let me explain:
1. I have 5 accepted replies
2. I have 12 up-voted replies
3. I don't have down-vote

My minimum karma should be at least: 45 + 50x5 + 10x12 = 415 (I

[2015-01-26 21:11] kenjis opened #87 ""->" in title breaks a link in email"
If a title of a post is below:

[code]

a link in email will be following and does not work:

[code]

[2015-02-06 17:54] quasipickle opened #88 "Horrible posting performance in Firefox (OS X)"
Whenever I write a comment or post, and I have a code block, my Firefox tab almost locks up.  I can type and wait _literally_ more than a second for the text to appear on screen.  I often end up writing my post in my code editor, then pasting it into Phosphorum just to save time and frustration.

_As per @m1ome 's suggestion_ Using OS Yosemite (10.10) / FF 35.0.1 (but this problem has been around

[2015-02-06 21:27] m1ome commented on #88
You should provide OSX/Firefox version.

[2015-02-18 18:19] quasipickle opened #89 "[NFR] Lock threads after X months of inactivity"
This would prevent necro-posting.

[2015-07-30 16:27] phalcon commented on #27
Implemented in 2.0.2

[2015-07-30 16:27] #27 closed

[2015-07-30 16:28] phalcon commented on #29
Now it just search the forum

[2015-07-30 16:28] #29 closed

[2015-07-31 10:10] sergeyklay commented on #87
I'm working on it.

[2015-07-31 11:15] sergeyklay commented on #87
Now this fixed. See https://github.com/sergeyklay/forum/commit/eedb92cf33f908b10b5e5c93efc9dbd6d87d8dc5

[2015-07-31 11:15] #87 closed

[2015-07-31 15:03] sergeyklay commented on #83
Here is the full list of requirements at this moment:

[code]

We don't think that should point in the README anything that can be installed automatically by using [composer config][1].

As you can see in Readme:

Composer pointed here. Other dependencies can be installed automatically.

[1]: https://github.com/phalcon/forum/blob/master/composer.json

[2015-07-31 15:03] #83 closed

[2015-07-31 16:00] sergeyklay commented on #85
I'm working on it.

[2015-08-01 14:55] #85 closed

[2015-08-01 14:56] sergeyklay commented on #85
Thanks! Fixed

[2015-08-01 15:08] sergeyklay commented on #86
I'm working on it.

[2015-08-02 22:00] m1ome commented on #86
:+1:

[2015-12-24 08:38] #78 closed

[2015-12-24 08:40] sergeyklay opened #138 "[NFR] Replace Dropbox by Flysystem with Dropbox adapter"
http://flysystem.thephpleague.com/

[2015-12-24 10:04] duythien commented on #138
Good options :)

[2016-03-18 12:47] CloudXNS opened #181 "Markdown\BlockQuoteExtension bug"
Bootstrap add this line will Markdown render output is blank

https://github.com/phalcon/forum/blob/master/app/library/Bootstrap.php#L548

[2016-03-18 12:51] CloudXNS commented on #181
https://github.com/phalcon/forum/pull/43

[2016-03-23 23:16] sergeyklay opened #182 "Add topic_tracking to the upgrade-to-2.0.1 file"

[2016-03-23 23:16] sergeyklay opened #183 "Add pagination to the threads"

[2016-03-23 23:22] sergeyklay opened #184 "I think we have to add some style to prevent font scale in comments"
![selection_125](https://cloud.githubusercontent.com/assets/1256298/14003906/ed78bd54-f15e-11e5-8083-71959cc84d10.png)

[2016-03-24 14:28] dschissler opened #185 "Remove the Phalcon icon on the far left of each post listing"
The Phalcon icon seems unnecessary to be repeated so many times on the forum.

[2016-03-24 16:20] dschissler commented on #185
Also removing the icon will give a significant amount more space for the Topic title.

[2016-03-24 16:21] dschissler commented on #185
Then a typical Phalcon logo should be somewhere on the top left of the page.

[2016-03-25 08:04] nikolay-mihaylov opened #186 "Search form stopped working after releasing new design"
There seems to be a 302 redirect to forum homepage after your perform a search.

![phalcon-forum-search](https://cloud.githubusercontent.com/assets/13011861/14040545/f1ec1f62-f270-11e5-826d-36c938bf178e.png)

[2016-03-25 08:35] nikolay-mihaylov commented on #186
After looking into source files it seems that the problem is somewhere in https://github.com/phalcon/forum/blob/master/app/library/Search/Indexer.php with Elasticsearch, perhaps server missconfiguration?

[2016-03-26 21:57] sergeyklay commented on #182
Fixed in 2.0.5

[2016-03-26 21:57] #182 closed

[2016-03-29 07:08] duythien commented on #185
@sergeyklay I think the suggestion @dschissler right, so maybe we need remove it, just my opnion

[2016-03-29 07:58] sergeyklay commented on #185
Yes, I agree guys. I'll do. Anyway, as you can see this is configurable https://github.com/phalcon/forum/blob/master/app/config/config.example.php#L34

[2016-04-04 10:25] Izopi4a opened #194 "opening a post should not delete your stored token"
If I open a post, and start replying, in the middle i want to give link to some other post, i open the forum in new tab, list trough the stuff, find my post ( that i want to give link to ), open it and copy - the link.

Now we go back to the post we originally start replaying to, you click "save" and boom you tried to xss atack. Maybe when creating the session token, do not remove the old ones ?

[2016-04-05 06:14] nikolay-mihaylov commented on #186
Fixed: https://forum.phalconphp.com/discussion/11045/phalcon-forum-search-not-working

[2016-04-05 06:14] #186 closed

[2016-04-24 20:07] Jurigag commented on #194
+1

[2016-05-15 11:48] stamster commented on #194
Either a bug, or a (security) feature.
One thing is sure - it's very annoying. While surfing in Internet Explorer 15 years ago, when we had only one tab (window), this could have been normal. But today, with 15+ tabs on average in Firefox or Chrome, this is just not going to work.

[2016-05-15 11:51] stamster opened #196 "Invalid Github response. Login does not work at all."
After yesterday's downtime, Forum does not work with a login via GitHub.

@andresgutierrez @sergeyklay @phalcon

[2016-05-15 13:49] sergeyklay commented on #196
@stamster This issue is not related to the repo code. For example try to login at https://forum.zephir-lang.com/

@niden

[2016-05-15 14:23] sergeyklay commented on #196
@stamster Fixed. Thanks

[2016-05-15 14:23] #196 closed

[2016-05-15 22:01] stamster commented on #196
@sergeyklay
I just used here GitHub repo to report big issue on Phalcon official forum since I wasn't able to log in, for obvious reasons :)
Thanks for fixing.

[2016-05-15 22:02] stamster commented on #88
This issue is still present, in both Firefox and Chrome. The JS parser will just eat your CPU to the max. It has some loop obviously while formatting code block.

[2016-05-24 22:29] Jurigag commented on #194
Well at least can we add option to store post content before adding it ? :/

[2016-06-16 14:52] quasipickle commented on #194
+1 This is incredibly annoying.  I tend to look through all the forum posts and open every one I'm interested in, in a different tab.  If I reply to the first tab I opened, I get that CSRF error, and my reply is lost.  It's not hard to allow multiple tokens per session.

At the very least - just show the error on the post's page itself, so we don't lose our reply.

[2016-06-16 14:55] sergeyklay commented on #194
I'll try to sort out

[2016-06-16 15:09] Izopi4a commented on #194
Sergey, is this really the repo of the forum ?

i am asking because i have seen it changing without this repo being modified. That's why i didn't try to look into it.

[2016-06-16 15:12] sergeyklay commented on #194
@Izopi4a Ping @andresgutierrez or @niden to deploy latest changes to the production :)

[2016-07-07 20:43] sergeyklay commented on #181
@CloudXNS Cant't reproduce. The issue still is present?

[2016-07-07 20:45] sergeyklay commented on #88
@stamster Can't reproduce. The issue is still present?

[2016-07-07 20:46] #60 closed

[2016-07-07 22:52] sergeyklay commented on #194
Okay guys. How it works...

This is another common attack against web sites and applications. Forms designed to perform tasks such as user registration or adding comments are vulnerable to this attack. The idea is to prevent the form values from being sent outside our application. To fix this, we generate a [random nonce](https://en.wikipedia.org/wiki/Cryptographic_nonce) (token) in each form.

No

[2016-07-08 03:43] xonze commented on #181
The issue is finally located here
https://github.com/phalcon/forum/blob/master/app/library/Markdown/BlockQuoteExtension.php#L56-L57
Should be written like this,mx is follow },Write in same row：
[code]

[2016-07-08 03:45] xonze commented on #181
o, CloudXNS is also the account of my project

[2016-07-08 06:27] sergeyklay commented on #181
@xonze Fixed in `dev` branch

[2016-07-08 07:07] Jurigag commented on #194
But why we can't store all tokenso or at least don't delete post content ?

[2016-07-08 07:58] sergeyklay commented on #194
@Jurigag I started work on this

[2016-07-08 10:29] stamster commented on #194
@sergeyklay your explanation is correct. BUT, just take a look at CSRF implementation of Adminer for instance: https://github.com/vrana/adminer/

Not a single app in the world would do it like this, except standalone app (locked out of browser controls i.e. not even accessible w/o special frame - desktop like app).

[2016-07-15 21:01] sergeyklay commented on #194
Fixed in the `3.x` branch.

[2016-07-15 21:01] #194 closed

[2016-07-20 12:20] Jurigag commented on #194
Is it live on forum.phalconphp.com ? Or when it will be ?

[2016-07-20 15:39] sergeyklay commented on #194
Right now on Zephir Forum

[2016-08-07 17:52] Izopi4a opened #239 "Links to docs are not working"
Links to phalcon docs are not working because underscores are being encrypted

https://forum.phalconphp.com/discussion/12617/modelsmanager-is-not-working-in-live-server#C37957

[2016-08-10 01:26] amsharma9 opened #243 "Logging IN takes me back to Fourm root"
Hello,

If I have a post open from the forum in my browser and I login. After logging in I am taken back to Forum root, i.e. [https://forum.phalconphp.com/discussions](https://forum.phalconphp.com/discussions). Most forums will keep me on the same post even after I log in. Isn't that the way it should work.

Logging out on a post keeps me on that post.

Thanks
Amal

[2016-08-16 10:05] sergeyklay opened #244 "Add ability to block user"

[2016-08-16 10:05] sergeyklay opened #245 "Add captcha support"

[2016-08-16 10:05] sergeyklay opened #246 "Add ability to remove all user's posts"

[2016-08-16 10:17] sergeyklay opened #247 "Prevent users with low reputation to create posts"
![screenshot at aug 16 13-16-40](https://cloud.githubusercontent.com/assets/1256298/17695938/ba47de2a-63b3-11e6-92e3-3e3d3528737e.png)

[2016-08-16 15:37] duythien commented on #247
Take a look this commit https://github.com/phalcon/forum/pull/248 :)

[2016-08-29 09:51] TranQuangMinh opened #249 "Duplicate $post"
I dont know
line  108 : $post = $post = Posts::findFirstById($id);

[2016-08-29 10:00] duythien commented on #249
Hello

Could you give full link source that

[2016-08-29 10:04] TranQuangMinh commented on #249
Sory
https://github.com/phalcon/forum/blob/master/app/library/Search/Indexer.php

[2016-09-14 06:40] Izopi4a opened #250 "forum is down"
man is down. I repeat, man down

[2016-09-16 07:33] Izopi4a commented on #250
@sergeyklay

[2016-09-16 07:35] #250 closed

[2016-09-23 02:20] bnfan opened #254 "Need maintenance mode script"
Just like the Laravel's maintenance script:

To enable maintenance mode, simply execute the down Artisan command:

php artisan down

To disable maintenance mode, use the up command:

php artisan up

[2016-09-23 02:21] bnfan commented on #254
I can help to develop this feature, but need some helps on how to do it.

[2016-09-23 05:25] sergeyklay commented on #254
@bnfan Good idea. What kind of help you need

[2016-09-23 21:13] sergeyklay commented on #245
Implemented in `3.0.x`

[2016-09-23 21:13] #245 closed

[2016-09-24 12:35] bnfan commented on #254
I have implemented the maintenance mode feature base on communication on thread:

https://forum.phalconphp.com/discussion/6629/maintenance-mode-redirect-forward-all-requests

[2016-09-25 07:46] sergeyklay commented on #254
@bnfan Could you please try to introduce the maintenance mode  for forum?

[2016-09-27 21:22] stamster commented on #88
This issue is still present. JS formatting thingie is just doing awful job with CPU cycles.

[2016-09-27 21:25] stamster commented on #194
Is this fix pushed to Phalcon forum yet? Sometimes I tend to believe so, but after a while I still get infamous error message, and I have not done anything wrong.

[2016-09-27 21:30] sergeyklay commented on #194
No. Ping @niden or @andresgutierrez

[2016-09-27 21:31] sergeyklay commented on #88
@stamster Could you please detect js code?

[2016-09-30 15:58] bnfan commented on #254
My idea is define one constant in .env file

#APP_MAINTENANCE=down

In env.php file read it:

/**
 * @const APP_MAINTENANCE Application maintenance status
 */
define('APP_MAINTENANCE', getenv('APP_MAINTENANCE') ?: 'up');

In Bootstrap.php file check it:

        if(APP_MAINTENANCE == 'down')
        {
          $this->di->remove('router');
          $this->di->setShared('router',  function() use (

[2016-09-30 16:42] sergeyklay commented on #254
I like this approach

[2016-10-04 06:51] Izopi4a opened #256 "a little help sergey"
@sergeyklay

this post is for delete right ? https://forum.phalconphp.com/discussion/14349/education-for-students

cuz i am scared to do so, i am not 100% sure :D

[2016-10-04 08:35] sergeyklay commented on #256
fixed 😉

[2016-10-04 08:35] #256 closed

[2016-10-04 09:40] borisdelev opened #257 "Issue with GIT profile and something with categories..."
Hi hi hi,

I think i found a issue with my profile in Phalcon Forum (and maybe is a bug)- i have a profile from long time ago and before few weeks i change my username in GITHUB. Today i realize that i have a new profile in Phalcon Forum and all of my reputation, etc is missing... cant edit my old email notification settings. Is there a way to link my profiles or somehow to use my old one? Just to

[2016-10-14 08:11] TranQuangMinh commented on #249
yeah thanks you

[2016-10-14 08:12] #249 closed

[2016-11-10 16:59] borisdelev commented on #257
Guys, sorry but... can someone help me with that? And... just to transfer my account or delete it (damn my repo) :/ i cant edit my email notifications

[2016-11-10 19:16] sergeyklay commented on #257
Cc: @niden @andresgutierrez

[2016-11-11 21:56] oscarmolinadev opened #261 "Problems with Router and APP_BASE_URI"
I found a problem when the APP_BASE_URI is different from `/`

**Zephir:** 0.9.4a-dev
**Phalcon:** 3.0.1
**Forum:** 3.x

**Example:**

URL of **ALL PROJECTS** root: http://phalcon.local/

URL of project **FORUM**: http://phalcon.local/folder1/folder2/forum/

.env file:
`APP_BASE_URI:/folder1/folder2/forum/`
`APP_STATIC_URL:/folder1/folder2/forum/`

If I go http://phalcon.local/folder1/folder2/foru

[2016-11-28 03:56] hi2u opened #263 "XSS issue: </textarea> not escaped on comment editing form"
This is really a cphalcon level issue, so I've posted the main issue there:  https://github.com/phalcon/cphalcon/issues/12428

But I've noticed the Phalcon forum itself isn't accounting for this, probably like most other Phalcon sites out there.

See my demo post here:  https://forum.phalconphp.com/discussion/14891/this-is-a-demonstration-of-phalcons-inconsistent-text-and-textar#C43323

By enterin

[2016-11-28 22:33] sergeyklay commented on #263
@hi2u

Thank you for pointing the problem in the forum source code.

As @niden  has already explained to you in https://github.com/phalcon/cphalcon/issues/12428, we can't make the changes you are talking about, in the current branch Phalcon API, because it would break backward compatibility. Many projects escape output independently.

You can see how to get rid of this problem in my commit: https:

[2016-11-28 22:33] #263 closed

[2016-12-05 22:12] oscarmolinadev opened #286 "500 Error, My discussions and My answers"
500 Error when acces to `My discussions` and `My answers`

![image](https://cloud.githubusercontent.com/assets/6513086/20904543/4cbd5c06-bb40-11e6-8975-a1f9494e75f8.png)

![image](https://cloud.githubusercontent.com/assets/6513086/20904548/55b9b5b6-bb40-11e6-98aa-81853e3e2b2a.png)

[2016-12-05 22:17] #286 closed

[2016-12-28 11:55] Izopi4a opened #331 "[NFR] show number of online users"
when someone has spare time

- implement a feature how many people are online
- how many people are reading a current thread
- how many of online users are registered ( logged ) and how many are guests

[2017-01-06 06:49] #181 closed

[2017-02-03 15:59] seomixr opened #353 "[NFR] Set admin per category."
If at a forum there are a lot of categories, there is a need of appointment of administrators to concrete category, or several categories.

[2017-02-03 18:08] mzf opened #354 "Migration dont work"
When i try generate migration
[code]
i get error
[code]

[2017-02-04 07:59] mzf opened #359 "[NFR] Hide categories from not logged users"
It is necessary for private forums that some categories were available, only for authorized users

[2017-02-04 08:54] sergeyklay commented on #359
Yes, we can to introduce a "categories visibility" field.

[2017-03-08 18:36] nikolay-mihaylov commented on #88
Perhaps we can replace the text editor with http://benahm.github.io/EnhPageDown/public_html/ its very similar to the one StackOverflow uses. Has anyone tested it?

[2017-03-08 18:36] nikolay-mihaylov commented on #239
Perhaps we can replace the text editor with http://benahm.github.io/EnhPageDown/public_html/ its very similar to the one StackOverflow uses. Has anyone tested it?

[2017-03-09 19:54] stamster commented on #88
@sergeyklay I wouild love to, but to tell you the truth I'm far from JS expert. And now after doing node.js project for 2 months within a team, I hate JS even more :angry:

The most convenient would be to just change the underlying JS lib (markdown?) like @nikolay-mihaylov suggested.

[2017-03-15 23:02] sergeyklay commented on #88
@nikolay-mihaylov I like it

[2017-05-01 19:53] emiliodeg opened #371 "Pagination in categories are gone"
When you select any catogory don't show paginations controls in footer

[2017-05-08 12:24] Jurigag opened #373 "Integration with discord/slack"
When new topic is created show info about it on discord/slack channel.

Also in future:
- replies in discussions
- solved discussions

[2017-05-08 15:11] Jurigag opened #374 "Autocomplete and notification on mention"
Just display some autocomplete when writing `@Somenick` like on github. And also add notification if someone will mention you somwhere.

[2017-05-08 15:24] Jurigag commented on #49
Isn't CSRF token blocking this already? @sergeyklay

[2017-05-08 15:27] Jurigag commented on #183
Hmmm, how about option to select if we want pagination or lazyloading(saved maybe in cookie) so if for example on pc it will just load answers when scrolling and on mobile someone would like more pagination?

[2017-05-08 15:27] Jurigag commented on #247
I think #248 handles this issue nicely

[2017-05-08 15:27] #247 closed

[2017-05-08 15:44] sergeyklay commented on #49
I'm not sure. Need to test

[2017-05-08 16:56] Ultimater opened #375 "New Thread from Category doesn't preselect Category from dropdown"
This isn't a feature request per se, as it's the expected functionality.

Go to https://forum.phalconphp.com/category/21/beginners for example (as it has the most threads).
Then click "Start a Discussion" on that page, there's a "Category" dropdown to choose the category again. Expected behavior is it should pre-select "Beginners" in this case. I'd like to suggest use the referrer to determine wha

[2017-05-08 17:05] Jurigag commented on #375
Good idea, i like this. Could maybe avoid somehow usage of js and handle it in php.

[2017-05-08 17:13] Ultimater commented on #375
If we're aiming at a PHP solution, we could read `$_SERVER['HTTP_REFERER']` and parse it using a similar regular expression, then add a `selected` to the option to select. We could also change the navigation a bit and ditch the refe(r)rer altogether by creating a different create new topic link which we can extract the category from.

[2017-06-23 16:14] sergeysviridenko commented on #354
I couldn't reproduce.
`gen` isn't internal command in devtools.
You ought to use `phalcon migration generate` or `phalcon migration --action=generate`. Use `phalcon migration --help` for take help.

Phalcon DevTools Version: 3.2.0 ALPHA 1
Phalcon Version: 3.1.2

[2017-06-25 19:06] Jurigag commented on #373
https://github.com/phalcon/forum/pull/376 discord coming here

[2017-07-05 02:57] ninjapanzer opened #378 "Session lifetime is too short"
This is configured by `SESSION_LIFETIME` .env variable.
In the .env.example it defaults to 3600 (1 hour)

I vote we extend this session life to 604800 (1 week)

There have been plenty of times that I have been writing and researching a post and have had my session expired before I realized it and my post was lost.

I am working on a PR to stash the current post in localStorage but in the meantime

[2017-07-05 03:28] niden commented on #378
Done

[2017-07-05 03:28] #378 closed

[2017-07-06 07:54] stamster opened #379 "Sporadic 500 errors on official forum"
No steps to reproduce, simply each 2nd or 3rd request gets blank page with HTTP status 500 - as of today.

[2017-07-06 08:09] sergeyklay commented on #379
It is SSL/Cludflare issue. Thank you for attention. We'll fix it ASAP.

Cc: @niden

[2017-07-06 08:09] #379 closed

[2017-07-06 17:43] niden commented on #379
This has been resolved

[2017-08-03 16:31] ChangePlaces opened #384 "encoding issue"
https://forum.phalconphp.com/discussion/16643/urls-are-needlessly-encoded

I tried to paste a link but found that urls with underscores appear to be encoded incorrectly:

`https://imgs.xkcd.com/comics/exploits_of_a_mom.png` becomes `https://imgs.xkcd.com/comics/exploits%5of%5a%5mom.png`

[2017-08-03 18:40] sergeyklay commented on #384
Closing this in favor of #239.

[2017-08-03 18:40] #384 closed

[2017-08-04 12:38] lacylive opened #390 "not able to populate the dummy data into forum"
Hi,

I have installed forum successfully on my WHM server. But when i give `/usr/bin/php /home/xxxxx/public_html/forum/forum seeder:populate ` , through command prompt, i just get
[code]
But no entries in database. When i check `app/logs/application.log `, it says,
[code]
is the database name has to be phosphorum??
Please suggest. I have tried 'n' number of times to rectify the problem.

[2017-08-04 14:09] sergeysviridenko commented on #86
Maybe we can close this issue

[2017-08-04 22:14] sergeyklay commented on #390
@lacylive Please follow the [Installation Documentation](https://github.com/phalcon/forum/wiki/Installation#creating-a-database)

[2017-08-04 22:15] sergeyklay commented on #86
@m1ome Fixed in the `3.x branch`. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2017-08-04 22:15] #86 closed

[2017-08-05 03:09] lacylive commented on #390
@sergeyklay : I followed the instruction as in [Installation Documentation](https://github.com/phalcon/forum/wiki/Installation#creating-a-database). So till **Initial test data**, its successfully installed. Stuck in initial installation step. Not able to rectify where it is going wrong.

[2017-08-05 06:54] sergeyklay commented on #390
@lacylive Could you please provide Phosphorum version/branch, OS and Phalcon/PHP version?

[2017-08-05 07:21] lacylive commented on #390
Phosphorum Version is 3.2.1
PHP version 5.6
OS - Linux version 2.6.32

[2017-08-05 16:15] sergeyklay commented on #390
[code]

[2017-08-05 16:16] sergeyklay commented on #390
@sergeysviridenko Could you please try to sort out

[2017-08-06 05:24] lacylive commented on #390
@sergeyklay : Thanks for the reply.
I created database and a user with all privileges and imported forum.sql through Cpanel successfully and also i did the same thing through SSH and created schema forum.sql . But after this , when i try to populate fake entries by giving ** $ /usr/bin/php /var/www/forum/forum seeder:populate command** i get the above mentioned error. Without the fake entries i ca

[2017-08-06 06:15] sergeyklay commented on #390
@lacylive We'll

[2017-08-07 15:22] sergeysviridenko commented on #390
@lacylive could you provide more information? Which server do you use? Which mods are installed?

[2017-08-10 05:57] lacylive commented on #390
@sergeysviridenko : I have installed it on WHM Linus Server - its a shared hosting. i did not get what is  '**mods installed**' .

[2017-08-11 12:06] sergeysviridenko commented on #390
@lacylive I mean apache or nginx server? and which modules for server do you use. I couldn't reproduce this bug. For me it works fine. Maybe some module forbids access to error stream STDERR (for example mod_wsgi on apache server).

[2017-08-16 07:18] lacylive commented on #390
@sergeysviridenko I managed to populate data on my local machine using WAMP server (PHP 7.0.10, MySQL 5.7.14 and Apache 2.4.23) . but when i access forum through localhost/forum i get 404 page not found error as below:

404
Sorry! We can't seem to find the page you're looking for.

Are you sure that this page should be here? If so, please let us know: team@phalconphp.com
Can  you help me solve thi

[2017-08-16 07:48] sergeyklay commented on #390
@lacylive Could you please enable debugging mode (see config and .env file) and provide log output.

[2017-08-16 10:54] lacylive commented on #390
Tried debugging but error log file is not getting created in /app/logs. Attached my .env .ht access files from both root /public files for your reference.
[env.txt](https://github.com/phalcon/forum/files/1227921/env.txt)
[htaccess-public.txt](https://github.com/phalcon/forum/files/1227922/htaccess-public.txt)
[htaccess-root.txt](https://github.com/phalcon/forum/files/1227920/htaccess-root.txt)

[2017-08-16 11:11] lacylive commented on #390
I changed app env to development and now i am getting below error:

Error [-1]: Page not found
File: C:\wamp64\www\forum\app\controller\ErrorController.php
Line: 82

C:\wamp64\www\forum\app\cache\volt\app_views__partials_error_debug.php:7:
array (size=0)
  empty

[2017-08-16 17:38] sergeyklay commented on #390
Lets separate issues - one for db seeds and second for routing. First of all we need any related logs and debug output for `seeder:populate` command. Just to you know we still unable to reproduce this issue. Also provide please output of `php -m` and `php -i` commands and check `php -i | grep logs` files

[2017-09-27 22:58] H-Mohamed opened #394 "Autoloader not found"

[2017-09-27 22:59] Ultimater commented on #394
Did you run a `composer install`?

[2017-09-27 23:07] H-Mohamed commented on #394
Warning: require(C:\me\forum-master/vendor/autoload.php): failed to open stream: No such file or directory in C:\me\forum-master\bootstrap\autoloader.php on line 29

Fatal error: require(): Failed opening required 'C:\me\forum-master/vendor/autoload.php' (include_path='.;C:\php\pear') in C:\me\forum-master\bootstrap\autoloader.php on line 29

[2017-09-27 23:16] Ultimater commented on #394
Yeah, that means you didn't do a `composer install`. If you don't have composer, you'd need to grab the composer.phar file first. Go to https://getcomposer.org/download/ and download the composer.phar file. [1.5.2](https://getcomposer.org/download/1.5.2/composer.phar)  is the latest. Then toss the file into the project along side the composer.json and composer.lock files. Open up your CLI, `cd` in

[2017-09-28 20:41] #394 closed

[2017-10-24 11:03] sergeysviridenko commented on #354
@mzf could you provide more information about your system(which phalcon, forum, devtools versions do you use)?

[2017-10-27 12:57] sergeysviridenko commented on #239
I suppose this issue can be closed.

[2017-10-27 12:59] sergeyklay commented on #239
@Izopi4a  Fixed in the `3.x` branch. Feel free to open a new issue if the problem appears again. Thank you for contributing :)

[2017-10-27 12:59] #239 closed

[2017-10-27 14:36] Jurigag opened #397 "Single quote escaping"
When putting single quote into single backticks it escapes them to `&#039;`. It looks kind of bad and sometimes i would like to just write single quote in single ticks on forum.

Doesn't happen though when using code block with triple backticks

@sergeysviridenko

[2017-10-27 15:41] sergeysviridenko commented on #397
@sergeyklay could you assign to me, please. I'll try to sort out.

[2017-10-27 15:42] sergeysviridenko commented on #397
@Jurigag could you provide a little bit more information to reproduce. There is other similar issue https://github.com/phalcon/forum/issues/40. I'm trying to solve this problem.

[2017-10-27 15:55] Jurigag commented on #397
Oh okay there is laready then sory, exactly he same mentioned here. To reproduce it just type in forum:

[code]

[2017-10-27 15:55] #397 closed

[2017-10-27 15:56] Jurigag commented on #40
+1 it needs to be fixed.

[2017-10-27 15:58] Jurigag commented on #373
Are we going to enable it someday on live forum and our discord finally? @niden @sergeyklay

I can help with any installation and configuration if you have any problem

[2017-10-27 16:44] sergeyklay commented on #373
We'll try to release https://github.com/phalcon/forum/pull/393 on weekend

[2017-10-27 18:50] Jurigag commented on #373
Yea sure but it will require additional things on discord and server(add task to cli) so ping me somewhere if you need any help.

[2017-10-28 07:21] amsharma9 opened #398 "Not receiving email notifications"
Hello,

I have not received any EMail notifications for any replies on Phalcon Forum since January 2017 despite many posts. Have the EMail notifications been disabled. My settings in the forum is
**E-Mail Notifications: "When someone replies to a discussion that I started or replied to"**.

I used to get emails earlier for any posts I have made or any replies to where I have posted.

[2017-10-28 08:28] Jurigag commented on #398
As far as i know beanstalkd is not instlalled on new server - that's why no emails.

[2017-10-29 21:32] sergeyklay opened #400 "Broken discord:send task"
[code]

[2017-10-29 22:24] #400 closed

[2017-10-30 01:44] sergeyklay commented on #398
Fixed. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2017-10-30 08:39] sergeysviridenko commented on #40
@Jurigag I'm trying to sort out with it

[2017-11-01 12:22] sergeyklay commented on #40
Fixed in the `3.x` branch. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2017-11-01 12:22] #40 closed

[2017-11-01 12:49] oh-ren commented on #40
Thanks!

@sergeysviridenko Your comment in the linked to forum thread doesn't make sense (this issue isn't the subject) ;)

[2017-11-03 15:06] sergeysviridenko commented on #88
I can't reproduce it. All work fine for me.

[2017-11-04 23:24] stamster commented on #88
@sergeysviridenko Try with some code in a post....
three tildes and `php`:
[code]

[2017-11-05 13:28] amsharma9 commented on #398
This is not working. I wrote answers on some issues not raised by me but when members replied on those posts I did not get any emails. Somebody referenced my ID on a post but no emails although `Notification` has mention of all those posts.

[2017-11-06 09:26] sergeysviridenko commented on #88
@stamster I still don't reproduce this issue. It works fine for me. I've tried in chrome and firefox. Forum's editor a little bit slower than [this](http://benahm.github.io/EnhPageDown/public_html/). But I'm not sure about change it.
@sergeyklay How do you think should we change editor?

[2017-11-06 14:03] sergeyklay commented on #88
I think we can do such a migration if the need arises

[2017-11-06 15:10] sergeysviridenko commented on #88
@sergeyklay Thank you.

[2017-11-07 08:59] stamster commented on #88
@sergeysviridenko forum just bloated my CPU to 100% w/o even any code blocks, I was posting this message: https://forum.phalconphp.com/discussion/17241/cant-install-phalcon-on-debian-with-plesk#C52093

[code]

[2017-11-08 15:55] sergeysviridenko commented on #88
@stamster Ok. I'll try to sort out with this as soon as possible. Thank you for report.

[2017-11-10 19:40] sergeyklay commented on #88
https://github.com/StackExchange/pagedown

[2017-11-14 14:08] sergeyklay commented on #51
Implemented in the 3.x branch. Thank you for the New Feature Request, and for helping us make Forum better.

[2017-11-14 14:08] #51 closed

[2017-11-14 14:30] Jurigag commented on #374
@sergeysviridenko what you think about this?

[2017-11-14 14:35] sergeysviridenko commented on #374
@Jurigag I think it's very interesting and suitable. I'm sure it's has to be implemented.

[2017-11-14 21:11] sergeyklay commented on #373
@Jurigag Could you please split the current task into several independents ones to be able close this issue :)

[2017-11-16 19:37] Jurigag commented on #374
Are you gonna find some time for this or i should do it?

[2017-11-20 15:41] Jurigag opened #414 "Change markdown parser"
Change markdown parser from not supported, old ciconia to https://github.com/erusev/parsedown

[2017-11-20 15:49] #373 closed

[2017-11-20 15:50] Jurigag opened #415 "Slack integration"
Add slack integration for forum

[2017-11-22 14:41] sergeysviridenko commented on #48
I can't reproduce this issue, propose to close.

[2017-11-22 15:40] #55 closed

[2017-11-22 15:40] #48 closed

[2017-11-22 15:48] sergeysviridenko commented on #414
I propose to close this issue.

[2017-11-22 15:58] sergeyklay commented on #414
@Jurigag Implemented in the 3.x branch .We'll to release it asap.

[2017-11-22 15:58] #414 closed

[2017-11-23 09:12] sergeysviridenko commented on #374
I don't any free time to realize this feature very soon. It'd be great if you do it.

[2017-11-23 09:23] Jurigag opened #417 "XSS vulnerability"
https://forum.phalconphp.com/discussion/17345/test

https://github.com/phalcon/forum/pull/411 i guess removing this escapeHtml caused this.

[2017-11-26 18:39] sergeyklay commented on #417
Fixed in the `3.x` branch. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2017-11-26 18:39] #417 closed

[2017-12-03 01:00] etshy opened #426 "500error on "start a discussion" and "settings""
as the title says I have 500 error when I try accessing my settings or when I want to start a new thread.
Blank page (or chrome "uh-uh" error page sometimes).

[2017-12-03 11:50] sergeyklay commented on #426
Fixed!  Thank you for the report.

[2017-12-03 11:50] #426 closed

[2017-12-04 18:57] sergeyklay opened #428 "Don't use Cloudflare"
We are constantly experiencing problems due to the fact that our statics is given through CDN e.g. Cloudflare. Over the past year, I remember at least four problems. In addition, sometimes there are short-term GEO issues.

[2017-12-06 03:51] attritionorg commented on #417
@sergeyklay can you link to the fixing commit please?

[2017-12-06 06:22] sergeyklay commented on #417
https://github.com/phalcon/forum/commit/446fa06e6068b8582b22bc5c427995d374b8e4b0

[2017-12-08 15:23] #428 closed

[2017-12-11 15:52] quasipickle commented on #89
Bumping because this is still an issue.

[2017-12-14 02:09] Tabalus opened #442 "[bug]db.table.posts_history add same row twice,when creat a post"
Version:3.4.1

database table `posts_history`

When creat a post,posts_history table will add two rows.
When create posts reply , it work well.
I think it a bug.

[2017-12-20 13:24] sergeysviridenko commented on #442
I propose to close this issue due [PR](https://github.com/phalcon/forum/pull/443) is implemented.

[2017-12-20 14:36] #442 closed

[2018-01-05 15:59] sergeysviridenko commented on #89
@quasipickle Could you provide more information and any steps to reproduce, please?

[2018-01-05 16:07] quasipickle commented on #89
I wouldn't consider this a bug, just a feature that hasn't been added yet.

Occasionally on forums, someone will come along and post a followup in a thread that is months or years old.  This is harmful because the original poster and participants have almost certainly moved on, and quite possibly forgotten the context of the question.  Locking threads to prevent comments after, say, 3 months of in

[2018-01-05 19:19] Jurigag commented on #89
Well i think we could use like 1-2 week for solved discussions and bigger time like a few months for unsolved. While add option for creators to open unsolved discussion again and maybe bump it.

[2018-01-09 09:48] sergeysviridenko commented on #89
@quasipickle understood. I agree, this is can be useful. Let's have a discussion about. How do you think
@sergeyklay, @Jurigag

[2018-01-09 10:28] sergeysviridenko commented on #257
@borisdelev You can't edit your old profile, because you're new user. There using login as identification.

[2018-01-09 10:34] sergeysviridenko commented on #257
Maybe we can use email as identification? How do you think @sergeyklay, @Jurigag?

[2018-01-09 16:01] sergeyklay commented on #257
It is the known issue. I'm not sure what exactly we can to implement right now.

FYI: We'll introduce a support chat, admin panel and ticket system for Forum in next major releases. So user will able to send request to merge profiles. Right now it is wontfix.

[2018-01-09 16:01] #257 closed

[2018-01-11 21:09] Jurigag commented on #89
Well i already wrote above.

[2018-01-19 23:02] emiliodeg opened #447 "Error 500 on reply"
Hi there when you write a reply in any topic I get a error 500 but refreshing (f5) and resend data, works fine.

### Messege I getting in first submit

[2018-01-20 10:24] sergeyklay commented on #447
Fixed. Thank you!

[2018-01-20 10:24] #447 closed

[2018-01-20 21:36] sergeyklay opened #450 "Fix tests for PHP 7.2"

[2018-01-20 21:41] sergeyklay commented on #390
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2018-01-20 21:41] #390 closed

[2018-01-30 01:41] emiliodeg commented on #447
The bug reappeared, now when you reply show an additional message (point 3)
Steps when responding
1. Show error 500 page
2. F5 and confirm the resubmit
3. Show this message: This form has altered. Please try submitting it again.
4. The reply is registred correctly

[2018-01-30 07:01] sergeyklay commented on #447
@emiliodeg I hope fixed now. Just to you know it is beanstalkd issue :(

[2018-02-12 15:00] sergeysviridenko commented on #398
@amsharma9 Did you get any email notification?

[2018-02-20 05:47] amsharma9 commented on #398
Sorry for the delayed reply. I haven't been able to check it as I haven't posted much to the forum lately. Kindly check with others who are posting to the forum regularly.

[2018-03-16 16:47] quasipickle opened #457 "500 errors"
For the last couple of days, writing replies or new posts shows a 500 error.  The post gets posted, so no information is lost, but the 500 error is understandably throwing people off.

[2018-03-17 00:21] sergeyklay commented on #457
Fixed. There was some issue with our beanstalkd daemon. Thank you for the report, and for helping us make forum better.

[2018-03-17 00:21] #457 closed

[2018-03-27 15:07] sergeysviridenko commented on #450
I propose to close this issue.I propose to close this issue.

[2018-03-27 15:09] #450 closed

[2018-03-27 22:30] emiliodeg opened #459 "[NFR] Mark comment/discussion as favourite"
Sometimes I find interesting discussions or comments and it would be nice to mark them with a star (or something similar) to add them to my favorites list

[2018-03-28 22:52] #398 closed

[2018-04-03 09:06] sergeysviridenko commented on #371
Fixed in 3.x [branch](https://github.com/phalcon/forum/pull/460)

[2018-04-03 09:09] #371 closed

[2018-04-03 10:58] sergeyklay commented on #49
Closing, issue has been fixed. If there are bugs, we can follow up in separate issues.

[2018-04-03 10:58] #49 closed

[2018-04-03 11:45] sergeysviridenko commented on #261
@oscarmolinadev could you provide web-server config?

[2018-04-05 15:40] sergeysviridenko commented on #184
@sergeyklay I think this issue can be closed, It is not actual now.

[2018-04-06 09:04] sergeyklay commented on #58
Added to the 3.x branch.  Thank you for the report, and for helping us make forum better.

[2018-04-06 09:04] #58 closed

[2018-04-07 11:42] flyingangel opened #463 "Zephir forum bug"
Cannot start a new discussion on Zephir forum https://forum.zephir-lang.com/post/discussion because the page link to a static JS reCaptcha url that doesn't exist.

Cannot confirm being a human so users cannot post...

[2018-04-10 08:38] sergeysviridenko opened #465 "Refactor models"
- [ ] Activities
- [ ] ActivityNotifications
- [ ] CacheableModel
- [ ] Categories
- [ ] Karma
- [ ] Notifications
- [ ] Notificationsbounces
- [ ] Posts
- [ ] PostsHistory
- [ ] PostsNotifications
- [ ] PostsPollOptions
- [ ] PostsPollVotes
- [ ] PostsReplies
- [ ] PostsRepliesHistory
- [ ] PostsRepliesVotes
- [ ] PostsSubscribers
- [ ] PostsVotes
- [ ] TopicTracking
- [ ] Users
- [ ] UsersBadges

[2018-04-10 08:38] sergeysviridenko opened #466 "Refactor controllers"

[2018-04-10 10:32] sergeysviridenko commented on #50
I propose to close this issue. [Fixed](https://github.com/phalcon/forum/pull/464) in 3.x branch

[2018-04-10 15:34] oh-ren commented on #50
Alright, cheers!

[2018-04-10 15:34] #50 closed

[2018-05-01 19:22] sergeyklay opened #472 "Package guzzle/guzzle is abandoned, you should avoid using it. Use guzzlehttp/guzzle instead."

[2018-05-01 20:13] sergeyklay opened #473 "Change default log path for error handler"
[code]

[2018-05-01 21:27] sergeyklay commented on #463
Fixed. Thank you

[2018-05-01 21:27] #463 closed

[2018-05-02 19:21] sergeyklay opened #477 "Migrate workers to Amazon SQS"

[2018-05-02 21:18] #473 closed

[2018-05-03 08:22] sergeysviridenko opened #480 "Refactor notification test"
Console test `NotificationsCest` sometimes doesn't pass. It need to be refactored.

[2018-05-03 14:00] sergeysviridenko opened #481 "Update markdown component"
Markdown should be updated to latest version.

[2018-05-08 14:59] #477 closed

[2018-05-08 15:04] sergeysviridenko opened #485 "Refactor Console stak"
- [ ] Use standard Phalcon Console Application
- [ ] Introduce [Cop](https://github.com/phalcon/cli-options-parser)
- [ ] Use Console Dispatcher & Console Routing
- [ ] Refactor Console Tasks

[2018-05-08 15:13] sergeysviridenko opened #486 "Add a new task that prune deleted entites from the database"
Provide an ability to prune no longer needed soft-deleted entities:
- [ ] Posts

[2018-05-14 14:26] Jurigag opened #504 "Automatically join posts"
It could be good to add option to automatically join posts when written by same person one after one(like if there is less between 5/10 minutes then join content of new post to last user post) and there is no other user post between them.

[2018-05-17 09:47] sergeyklay opened #517 "Update Starting the Discord WebHook task doc"
We use SQS since 3.5.0 so all beanstalkd-related docs should be update

Refs:
- https://github.com/phalcon/forum/wiki/Setting-up#starting-the-discord-webhook-task

[2018-05-18 15:14] sergeysviridenko commented on #354
For migrations `devtools` has been added in 4.0.x branch

[2018-05-21 08:42] sergeysviridenko commented on #481
version 1.7.1 has some xss vulnerability

[2018-05-21 09:43] #354 closed

[2018-05-21 09:45] sergeyklay commented on #481
@sergeysviridenko Could we update markdown component anyway but override methods which have  xss vulnerabilities. Also open please an issue at original repo and it link here.

[2018-05-31 08:29] sergeysviridenko commented on #480
Fixed in [3.5.x](https://github.com/phalcon/forum/tree/3.5.x) branch

[2018-05-31 08:38] #480 closed

[2018-05-31 11:14] #481 closed

[2018-06-01 12:55] sergeysviridenko commented on #472
Fixed in 3.5.x [branch](https://github.com/phalcon/forum/tree/3.5.x)

[2018-06-01 13:48] #472 closed

[2018-06-07 09:42] sergeysviridenko commented on #88
Fixed in 3.5.x [branch](https://github.com/phalcon/forum/tree/3.5.x)

[2018-06-07 09:43] #88 closed

[2018-06-08 09:27] sergeysviridenko opened #531 "Replace abandoned dependencies"
- [x] Package `league/flysystem-dropbox` is abandoned, you should avoid using it. Use `spatie/flysystem-dropbox` instead.
- [x] Package `react/socket-client` is abandoned, you should avoid using it. Use `react/socket` instead.

[2018-06-08 11:27] sergeysviridenko commented on #531
`spatie/flysystem-dropbox` package requires php ^7.0 so we will update it after updating php version in forum.

[2018-06-08 14:13] sergeysviridenko commented on #359
Should we hide all categories for unauthorized users?

[2018-06-11 09:04] sergeysviridenko commented on #504
@Jurigag I'm no sure it is helpful. I think one post must be one problem and join them - we join two problem in one post. How can someone help to solve one problem? I think we should have discussion.

[2018-06-13 13:39] Jurigag commented on #504
I mean if they are added in similar amount of time like couple of minutes. If someone will write two posts in two days then fine, don't join them.

[2018-06-25 13:16] sergeyklay commented on #531
https://github.com/srmklive/flysystem-dropbox-v2

[2018-06-26 14:37] sergeysviridenko commented on #531
I propose to close this issue.

[2018-06-26 14:51] #531 closed

[2018-07-01 19:20] shamuel22 opened #535 "No such file or directory [ERROR]"
Hi, I have thist error:

Warning: require(C:\wamp64\www\foro/vendor/autoload.php): failed to open stream: No such file or directory in C:\wamp64\www\foro\bootstrap\autoloader.php on line 34

[2018-07-01 19:33] #535 closed

[2018-07-01 19:33] Jurigag commented on #535
This repository is for issues related to forum and/or nfrs for it, not for rewriting same stuff you wrote on forum.

[2018-07-17 16:41] n0nag0n opened #537 "Showing 500 error after Start a discussion"
Just a heads up. I posted two posts on the forum.phalconphp.com page and when I submitted my new discussion, I was greeted with an error 500 page. So I typed up my question again, and submitted and it happened again.

So I went to check the main discussions page to see when the last discussion went through, and both my discussions were there, and they submitted fine.

Just something for you guys t

[2018-09-06 01:06] Tabalus opened #540 "Version 3.6.0 When"

[2018-10-12 12:57] emiliodeg commented on #537
Has reappeared, even when responding

[2018-11-27 10:35] sergeyklay opened #541 "Possible a bug in the Discord\WebSockets\Events\PresenceUpdate"
https://github.com/teamreflex/DiscordPHP/blob/43ce21d835d36bb654499bc674b3215fb29749dd/src/Discord/WebSockets/Events/PresenceUpdate.php#L50-L54

[code]

[2018-11-27 10:35] sergeyklay commented on #541
/cc @Jurigag

[2018-12-23 13:31] emiliodeg opened #542 "Button to open navbar in mobile is transparent and items list don't have a label"
When accessing with a device with small screen <768px the access button to the navbar is not visible because it is transparent and the menu items don't have a label that describes them

[Before and after](https://pasteboard.co/HT43PgB.jpg)

[2019-01-03 09:07] chief-kh opened #543 "php code in email notifications"
php code in email notifications looks ugly
http://oi63.tinypic.com/34e3kf4.jpg

[2019-02-17 20:45] ruudboon opened #544 "Mention fails when username contains dash"
When a username contains a dash you're unable to mention the user. For example @mr-Phalcon will link to @mr

[2019-03-07 14:03] lajosbencz opened #545 "[NFR] Spam report / Moderation"
**Issue:**

Lately, there had been a lot of spamming on the forums using github accounts. This thread is a prominent example: https://forum.phalconphp.com/discussion/17767/angular-4-apigee-oauth-url-calling-from-browser

I've already written about this problem to GitHub, but they (understandably) won't act on abuse outside their platform.

**Proposed solution**

There is already a down-vote  butto

[2019-04-10 16:57] quasipickle opened #546 "Can't login"
I'm not sure this is a bug in the software per se, but since I can't login to the forum, this is the only place to report.

When I try to login, I immediately get redirected back to forum.phalconphp.com - specifically to this url:

https://forum.phalconphp.com/?error=redirect_uri_mismatch&error_description=The+redirect_uri+MUST+match+the+registered+callback+URL+for+this+application.&error_uri=http

[2019-04-10 21:54] sergeyklay commented on #546
@quasipickle Fixed. I have no idea how could this happen.  Please let me know if everything is OK now

[2019-04-10 21:56] quasipickle commented on #546
I am now able to log in.  Thanks.

[2019-04-10 21:56] #546 closed

[2019-04-10 21:57] sergeyklay commented on #546
Thank you for the report!

[2019-04-30 16:03] fqrfrq opened #547 "JPEXS FREE FLASH DECOMPILER"
I need the paid version of JPEXS FREE FLASH DECOMPILER,who can grant it?

[2019-04-30 16:09] #547 closed

[2019-04-30 16:13] fqrfrq commented on #547
У вас есть платная версии Jpexs Free Flash Decompiler?

вт, 30 апр. 2019 г., 19:09 Anton Vasiliev notifications@github.com:

[2019-04-30 22:40] emiliodeg opened #548 "Notifications doesn't work"
Show an empty page with title "notifications"

[2019-05-01 13:57] sergeyklay commented on #548
@emiliodeg I hope this fixed now. Could you please recheck?

[2019-05-02 14:05] emiliodeg commented on #548
Great! now it works fine

[2019-05-02 14:06] #548 closed

[2019-05-02 14:06] sergeyklay commented on #548
Thank you for the report, and for helping us make forum better.

[2019-05-06 09:34] Jurigag commented on #545
I agree - if user have wrong enough reputation they should have something like moderation enabled - and moderators will decide if thread is correct or not.

[2019-05-06 09:41] Jurigag commented on #541
Thanks for the info, is it happening all the time or it was only once?

[2019-05-06 12:45] niden commented on #545
We should be able to do something like that for sure. I know that when Serghei comes back from holidays he will start working on a v4 version of the Forum and we can introduce this feature there.

Until then I am checking the forum posts and deleting the spam when I see it.

[2019-05-17 13:26] emiliodeg opened #552 "Error 500 on reply"
When you reply get an error 500 We’ll be back soon!

[2019-05-18 20:12] niden commented on #552
This has been addressed. Thanks for the heads up

[2019-05-18 20:12] #552 closed

[2019-07-10 15:38] agungsugiarto opened #553 "[QUESTION]"
I have done everything from installaion requirement except beanstalkd, since does'nt support for windows.
I got error, how should i do?
![image](https://user-images.githubusercontent.com/10989147/60980520-d6f2cb00-a35e-11e9-9e83-18234bdb7122.png)

[2019-07-10 16:34] #553 closed

[2019-08-09 02:15] Tabalus commented on #553
Js,Css filename Must rewrite , strip version number.

[2019-08-21 08:51] ruudboon opened #555 "V4 Upgrade"
We would like to keep supporting the forum in Phalcon v4.
* [ ] Make the forum V4 compatible

When upgrading it would be great if we could implement a few new features. Especially banning (spam)users could be helpful.

[2019-08-23 08:13] Jurigag commented on #545
I guess we can have recaptcha layer and moderation layer for very low reputation and just recaptcha for low reputation.

[2019-10-07 16:34] Jeckerson opened #557 "Captcha: Invalid domain for site key"
![Google-captcha-error](https://user-images.githubusercontent.com/3289702/66330608-a2c08380-e928-11e9-8a23-e7861a2f18e5.jpg)

Found screen in https://github.com/phalcon/phalcon-devtools/issues/1320

[2019-10-07 22:40] #466 closed

[2019-10-07 22:40] #485 closed

[2019-10-07 22:41] #465 closed

[2019-10-07 22:41] #415 closed

[2019-10-07 22:42] #486 closed

[2019-10-08 06:42] ruudboon commented on #557
Code is updated.

[2019-10-08 06:42] #557 closed

[2019-10-10 09:54] #254 closed

[2019-10-29 18:09] fak654 commented on #544
@forhad-khan (just checking)

[2019-10-29 18:13] FA-KHAN commented on #544
here it working...        @forhad-khan

[2019-10-31 12:17] ruudboon commented on #544
@FA-KHAN I still see this issue
<img width="286" alt="Screenshot 2019-10-31 at 13 07 31" src="https://user-images.githubusercontent.com/7444246/67945549-745c5e00-fbdf-11e9-9412-62348f72f192.png">

[2020-02-14 10:41] yassinrais commented on #555
Please update it to phalcon v4

:)

thanks .

[2020-03-20 11:06] viet-hai commented on #544
Hi, @FA-KHAN